:root {
    --grad-start: #30acff;
    --grad-end: #29e02c;
    --btn-color-1: #24c226;
    --border-1: #236a18;
    --border-2: #006bb2;
    --btn-color-2: #2480be;
    --list-color: rgba(86, 230, 255, 0.25);
}

.strike {
    text-decoration:line-through
}

.unstrike {
    text-decoration: none;
}

#container-div {
    margin: 100px auto 0 auto;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

#instructions {
    padding: 0px;
    font-size: 15px;
    list-style-type: circle;
}

#todos {
    min-height: 200px;
    font-size: 20px;
    background-color: var(--list-color);
    border-radius: 10px;
    border: 1px solid var(--border-1);
    padding-top: 10px;
    padding-bottom: 10px;
}

#clear-button {
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid var(--border-2);
    padding: 5px 10px 5px 10px;
    background-color: var(--btn-color-2);
    color: white;
}

#clear-div {
    direction: rtl;
}

#add-text {
    margin: 0px 5px 0px 0px;
    width: calc(100% - 85px);
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid var(--border-2);
    padding: 5px 10px 5px 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-button {
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid var(--border-1);
    padding: 5px 10px 5px 10px;
    background-color: var(--btn-color-1);
    color: white;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--grad-start), var(--grad-end));
    font-family: Arial, Helvetica, sans-serif;
}

#main-div {
    height: 100%;
    width: 100%;
}