:root {
    --grad-start: #30acff;
    --grad-end: #29e02c;
}

.strike {
    text-decoration:line-through
}

.unstrike {
    text-decoration: none;
}

#container-div {
    margin: 100px auto 0 auto;
    width: 500px;
}

#instructions {
    padding: 0px;
    font-size: 15px;
    list-style-type: square;
}

#todos {
    min-height: 200px;
    font-size: 20px;
    list-style-type: "» ";
}

#clear-button {
    font-size: 15px;
    display: inline-block;
}

#clear-div {
    direction: rtl;
}

#add-text {
    margin: 0px 5px 0px 0px;
    width: calc(100% - 75px);
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-button {
    font-size: 15px;
}

legend {
    font-size: 20px;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--grad-start), var(--grad-end));
}

#main-div {
    height: 100%;
    width: 100%;
}